{% extends 'login.html' %}

{% block login-head %}
<h3>Recuperemos tu contrase&ntilde;a</h3>
{% endblock login-head %}
{% block login-body %}
	<form method='POST' action=''>{% csrf_token %}
		<div  style='background:#CAD5B7;color:#547C57;padding:5px;border-radius:5px;'>
			<label><center><b>Si olvidaste tu contrase&ntilde;a ingresa la direcci&oacute;n de correo con la que te registraste y luego hace click en Aceptar.</b></center></label>
		</div><br>
		<div>
			{{form.email}}
			{{ form.email.errors }}
			<script type="text/javascript">
				document.getElementById("id_email").placeholder = "Ingrese su Correo Electronico aqui...";
			</script>
		</div>
		<button type='submit'>Aceptar</button>
	</form>
	
	
{% endblock login-body %}
{% block login-footer %}

{% endblock login-footer %}