{% extends "login.html" %}

{% block login-head %}Contrase&ntilde;a restablecida con &eacute;xito.{% endblock %}

{% block login-body %}
<p style='font-family:Pacifico;font-size:large'>Hemos enviado un correo electr&oacute;nico con las instrucciones para generar una nueva contrase&ntilde;a a la direcci&oacute;n que nos has indicado.</p>
<p style='font-family:Pacifico;font-size:large'>Deber&iacute;a recibirlo a la brevedad.</p>
{% endblock %}
{% block login-footer %}
	<a href="{% url 'home' %}" style="padding:10px 40px 10px 40px;
			border-radius: 5px;
			background-color: #547C57;
			border:none;
			box-shadow: 3px 3px 5px #ccc;
			font-family:arial;
			color: #F1F1F1;">Aceptar</a>
{% endblock %}