{% load i18n %}{% autoescape off %}
{% blocktrans %}Ha recibido este email porque solicito un cambio de contraseña para el usuario de la cuenta en {{ site_name }}.{% endblocktrans %}

{% trans "Por favor vaya a la siguiente pagina y elija una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "En caso que lo haya olvidado, su usuario es:" %} {{ user.get_username }}



{% endautoescape %}